.active {
  background-color: #EEE;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dot {
  cursor: pointer;
}

.col-md-6 {
  text-align: center;
}

.jumbotron {
  margin-top: 15px;
}

.green {
  color: #5BC99A;
}

.blue {
  color: #6F8AC1;
}

.purple {
  color: #B1437B;
}

.red {
  color: #FF0048;
}

.yellow {
  color: #FFD154;
}
