html,body { 
  height:100%; 
}

.color-score {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  color: white;
  text-align: center;
  padding-top: 5px;
}

.active {
  background-color: #EEE;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dot {
  cursor: pointer;
}

.col-md-6 {
  text-align: center;
}

.jumbotron {
  margin-top: 15px;
}

.green {
  color: #5BC99A;
}

.blue {
  color: #6F8AC1;
}

.purple {
  color: #B1437B;
}

.red {
  color: #FF0048;
}

.yellow {
  color: #FFD154;
}

.green-score {
  background: #5BC99A;
}

.blue-score {
  background: #6F8AC1;
}

.purple-score {
  background: #B1437B;
}

.red-score {
  background: #FF0048;
}

.yellow-score {
  background: #FFD154;
}

.total-score {
  background: black;
}